
	


	<div class="span7 offset3">

	<div class="boxy">

	<h1>Hi I'm Pingwyn</h1>
	<br>

	<h4>I help you find people on the map through their smartphones

	<br>
	(They need to have the mobile app installed first)

	</h4>
	<br>
	<h2>It's XX:XX:XX o'clock! Do you know where your Kids (crossed) people are?</h2>

	<br>
		<div class="span9 offset5">
	<%= link_to('Check Out my App', '#', :class => 'btn btn-success btn-large') %>
		</div>

	</div>
</div>

