
	


	<div class="span7 offset3">

	<div class="boxy">

	<h1>Hi I'm Vlad</h1>

	<p>I'm having tons of fun with learning rails, though set-up was pain in the arse!</p>

	<h2> Now I am just experimenting: It's XX:XX:XX o'clock! Do you know where your Kids (crossed) people are?</h2>

	<h3> Still playing around</h3>

	<%= link_to('Check Out my App', '#', :class => 'btn btn-success btn-large') %>

	</div>
</div>

