
	


	<div class="span7 offset3">

	<div class="boxy">

	<h1>Hi I'm Pingwyn</h1>
	<br>

	<h4>I help you find people on the map through their smartphones

	<br>
	(They need to have the mobile app installed first)

	</h4>
	<br>
	<br>
	<br>
	<h2>It's <iframe src="http://free.timeanddate.com/clock/i3t4xe7r/n878/fn14/fs16/fcddd/tc090/ftb/tt0/tw1/tm1" frameborder="0" width="285" height="22"></iframe>
	</h2>


	<h2>Do you know where your people are?</h2>

	<br>
		<div class="span9 offset5">
	<%= link_to('Check Out my App', 'http://itunes.apple.com/us/app/pingwyn/id477480896?ls=1&mt=8', :class => 'btn btn-success btn-large') %>
		</div>

	</div>
</div>

